* {
    margin: 5px;
    background-color: #282C33;
    font-family: monospace;
    color: white;
    text-decoration: none;
}

.line-right {
    margin-top: 15px;
    border: none;
    height: 2px;
    background-color: #C778DD;
    width: 50%;
}

/*header css*/
header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.left-bit {
    display: flex;
    margin-left: -10px;
}

#logo {
    width: 20px;
    height: 20px;
}

.right-bit {
    margin-top: 10px;
    margin-right: -10px;
}
/*header css*/


/*opener css*/
.opener {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.opener-text {
    margin-top: 20px;
    padding-top: 20px;
}

.opener-text p {
    padding-top: 20px;
    padding-bottom: 10px;
    color: grey;
}

.opener-text button {
    border-style: solid;
    padding: 5px;
    border-color: #C778DD;
}

.opener-image img {
    width: 100%;
}

.opener-quote img {
    width: 100%;
}
/*opener css*/

/*projects css*/
.projects-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/*gtp*/
.projects-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.card {
    border-style: solid;
    border-color: grey;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-thumbnail img {
    width: 110%;
    margin: -10px;
    height: auto;
    border-bottom: 2px solid grey;
}

.card-content p {
    color: grey;
    width: 100%;
    margin-bottom: -5px;
}

.card-footer h3{
    border-top: 2px solid grey;
    width: 100%;
}

.card-footer p {
    color: grey;
}

.live-button {
    border-style: solid;
    border-color: #C778DD;
    padding: 5px;
}
/*projects css*/

/*skills css*/
.skills-header {
    display: flex;
}

.skills-content img{
    width: 100%;
}

.skills-content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/*gpt used to get grid syntax*/
.skills-grid-container {
    display: grid;
    width: 100%;
    gap: 7px;
    text-align: center;
}

.skills-grid-item {
    border: 2px solid grey;
}

.skills-grid-item h3 {
    color: white;
    border-bottom: grey 2px solid;
}

.skills-grid-item p {
    color: grey;
}
/*skills css*/

/*about-me css*/
.about-header {
    display: flex;
}

.about-content p {
    color: grey;
    margin-left: 10px;
}

.about-content button {
    border: solid 2px;
    border-color: #C778DD;
    padding: 5px;
}
/*about-me css*/

/*contacts css*/
.contacts {
    padding-bottom: 50px;
}

.contacts-header {
    display: flex;
}

.contacts-content p {
    color: grey;
}
/*contacts css*/

/*footer css*/
.footer {
    display: flex;
    justify-content: space-between;
}

.footer-left {
    width: 100%;
    border-top: grey solid 2px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.footer-left img {
    margin-right: -7px;
}

.footer-right img {
    width: 30%;
}
/*footer css*/

/*contacts page css*/
.contacts-page {
    display: flex;
    flex-wrap: wrap;
}

.contacts-page-header {
    width: 100%;
}

.contacts-page #title {
    color: white;
}

.contacts-page p {
    color: grey;
}

.contacts-page-content {
    padding-bottom: 50px;
}

.message-me-container {
    display: flex;
    justify-content: center;
}

.message-me {
    display: flex;
    justify-content: center;
    border: 2px solid gray;
    flex-wrap: wrap;
    width: 50%;
}

.message-me img {
    width: 10%;
}
/*contacts page css*/

/*all-media*/
.all-media-content {
    display: flex;
}

.all-media-content p {
    padding-top: 5px;
}

.all-media-content img {
    width: 10%;
}
/*all-media*/


/*DESKTOP SCREENS ONLY css*/
@media only screen and (min-width: 1024px) {
    .line-right {
        width: 75%;
    }

    /*header*/
    .left-bit {
        margin-left: 100px;
    }

    .right-bit {
        margin-right: 100px;
    }
    /*header*/

    /*opener*/
    .opener-quote {
        display: flex;
        width: 30%;
        margin-left: 35%;
    }
    /*opener*/

    /*projects*/
    .projects {
        margin: 50px;
        margin-left: 200px;
    }

    .card {
        width: 30%;
    }
    /*projects*/

    /*skills*/
    .skills {
        margin-left: 200px;
        margin-right: 100px;
    }

    .skills-content {
        justify-content: space-around;
    }

    .skills-content img {
        width: 30%;
    }

    .skills-grid-container {
        grid-template-columns: repeat(3, 1fr);
        width: auto;
    }

    .skills-grid-item {
        text-align: left;
        height: fit-content;
    }

    /*gpt used bc i couldn't remember syntax, could've used w3 i guess*/
    .skills-grid-item:nth-child(4) {
        visibility: hidden; /*added in post to have an invisible grid item to keep the look*/
    }

    .skills-grid-item:nth-child(5) {
        margin-top: -120px;
    }

    .skills-grid-item:nth-child(6) {
        margin-top: -100px;
    }
    /*skills*/

    /*about-me*/
    .about {
        margin-left: 200px;
        margin-right: 100px;
    }

    .about-content {
        display: flex;
        flex-wrap: wrap;
        width: 30%;
    }
    /*about-me*/

    /*contacts*/
    .contacts {
        margin-top: 30px;
        margin-left: 200px;
        margin-right: 100px;
    }

    .contacts-content p {
        width: 30%;
        margin-top: 10px;
    }
    /*contacts*/

    /*footer*/
    footer {
        border-top: grey 2px solid;
        text-align: center;
    }

    .footer-upper {
        display: flex;
        margin-left: 200px;
        margin-right: 100px;
    }

    .footer-right img {
        width: 30%;
    }

    .footer-left {
        border: none;
    }
    /*footer*/

    /*contacts-page css*/
    .contacts-page {
        margin-left: 200px;
        margin-right: 100px;
    }
    .contacts-page-content p {
        width: 40%;
    }

    .message-me-container {
        height: 30%;
        width: 30%;
    }
    /*contacts-page css*/

    /*all-media*/
    .all-media {
        margin-left: 200px;
        margin-right: 100px;
    }
    .all-media-content img {
        width: 2.5%;
    }
    /*all-media*/
}